In [10]:
import pandas as pd
from pandas import Series, DataFrame
f = DataFrame(pd.read_excel(r'./food.xlsx'))
f['food'] = f['food'].str.title()
ounces_maxf = f['ounces'].value_counts().index[0]   #用出现频次最高的值代替空值
f['ounces'].fillna(ounces_maxf, inplace=True)
'''for i in range(len(f['ounces'])):
    if f['ounces'][i]<0:
        f['ounces'][i]=f['ounces'].mean()   #用平均值代替
 '''
f['ounces'].replace(f[f['ounces']<0]['ounces'],f['ounces'].mean(),inplace=True)
print (f)f['ounces'].replace(f[f['ounces']<0]['ounces'],f['ounces'].mean(),inplace=True)

          food     ounces  animal
0        Bacon   4.000000     pig
1  Pulled Port   3.000000     pig
2        Bacon  10.000000     pig
3     Pastrami   6.000000     cow
4  Corned Beef   7.500000     cow
5        Bacon   8.000000     pig
6     Pastrami   5.611111     cow
7    Honey Ham   5.000000     pig
8     Nova Lox  10.000000  salmon

In [34]:
f = DataFrame(pd.read_excel(r'./food.xlsx'))

In [13]:
f[f['ounces']<0]

       food  ounces animal
6  pastrami    -3.0    cow

In [14]:
f[f['ounces']<0]['ounces']

6   -3.0
Name: ounces, dtype: float64

In [8]:
f['ounces'].mean()

5.611111111111111

In [32]:
f.drop_duplicates(['animal'], inplace=True)
f

       food  ounces  animal
0     bacon     4.0     pig
3  Pastrami     6.0     cow
8  nova lox    10.0  salmon

In [30]:
f['animal'].duplicated()

0    False
1     True
2     True
3    False
4     True
5     True
6     True
7     True
8    False
Name: animal, dtype: bool

In [53]:
f = DataFrame(pd.read_excel(r'./food.xlsx'))
f

          food  ounces  animal
0        bacon     4.0     pig
1  pulled port     3.0     pig
2        bacon     NaN     pig
3     Pastrami     6.0     cow
4  corned beef     7.5     cow
5        Bacon     8.0     pig
6     pastrami    -3.0     cow
7    honey ham     5.0     pig
8     nova lox    10.0  salmon

In [54]:
f['food'].duplicated()

0    False
1    False
2     True
3    False
4    False
5    False
6    False
7    False
8    False
Name: food, dtype: bool

In [60]:
f['food'] = f['food'].str.lower()
f

          food  ounces  animal
0        bacon     4.0     pig
1  pulled port     3.0     pig
2        bacon     NaN     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami    -3.0     cow
7    honey ham     5.0     pig
8     nova lox    10.0  salmon

In [61]:
f

          food  ounces  animal
0        bacon     4.0     pig
1  pulled port     3.0     pig
2        bacon     NaN     pig
3     pastrami     6.0     cow
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami    -3.0     cow
7    honey ham     5.0     pig
8     nova lox    10.0  salmon

In [62]:
f.drop_duplicates(['food'], keep='last', inplace=True)
f

          food  ounces  animal
1  pulled port     3.0     pig
4  corned beef     7.5     cow
5        bacon     8.0     pig
6     pastrami    -3.0     cow
7    honey ham     5.0     pig
8     nova lox    10.0  salmon